body {
	background-image: url("../images/background1.jpg");
	color: #ffffff;
	font-family: 'Oswald', sans-serif, 'Kumar One', cursive, 'Fjalla One', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;

}

h1 {
	font-family: 'Barrio', cursive;
	font-size: 35px;
	float: right;
	margin-top: 0px;
	margin-right: 10px;

}

#chooseCharacter {
	clear: both;
	padding-top: 5px;
}

#simpsons {
	float: left;
	margin-left: 0px 0px 0px 10px;
}

.characters {
	height: 120px;
	width: 91px;
	margin-right: 10px;
}

h2 {
	color: blue;
}